<div class="container mt-5">
  <div class="row " >
  <p class="text-center mt-5">  <img src="../../../assets/images/uploadImg/download.jfif"> </p>
<h6 class="text-center  ">
congratz, you successfully create your account.
</h6>
<p class="text-center  ">
  we just sent you a confirmation mail
  </p>
  <p class="text-center  ">
    please check your email
    </p>
<p class="text-center mt-4">
don't received it ?
</p>
<p class="text-center ">
  check your spam folder or <a href="#" class="text-danger">Resend mail</a>
  </p>
</div>
</div>
