<footer class="fixed-bottom">
  <div class="container">
    <div class="row d-flex justify-content-center" id="navbar">
      <div class="col-3 ">
        <img src="../../../../assets/images/footer/expert-apps-logo-white.png">
      </div>
      <div class="col-5 ">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Solutions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Career</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="col-4 d-flex justify-content-end">
        <a href="#" class="mr-2">
          <img src="../../../../assets/images/footer/Facebook.png">
        </a>

        <a href="#" class="mr-2">
          <img src="../../../../assets/images/footer/LinkedIn.png">
        </a>

        <a href="#" class="mr-2">
          <img src="../../../../assets/images/footer/Twitter.png">
        </a>

      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center" id="copyRight">
    &copy; 2020 Expert Apps, All Rights Reserved
  </div>

</footer>
