/* You can add global styles to this file, and also import other style files */

body {
  background-color: #FAFAFA;
}
.mat-form-field {
  display: block !important;
}

.mat-form-field-flex {
  border: 1px solid;
  padding: 10px;
  border-radius: 5px;
}
.mat-form-field.mat-form-field.ng-invalid.mat-form-field-invalid
.mat-form-field-flex {
  border: 1px solid red;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
  display: none;
}


.material-icons{
  font-family: 'Material Icons' !important;
}


.mat-horizontal-stepper-header .mat-step-icon {
  display: none ;
}

.mat-horizontal-stepper-header-container {
    background-color: #FAFAFA;
    padding-bottom: 40px;
}

 .fa, .fas, .far {
  font-weight: 900;
  top: 13px;
  right: 1rem;
  font-size: x-large;
}


.mat-stepper-horizontal-line {
  border-top-width: 10px !important;
}
.mat-step-label {
  min-width: 0px !important;
}


button.btn{
  padding: 0.5rem 5rem !important;
}

button.btn-default {
  background-color: #dee1e3;
}

.mat-step-header .mat-step-header-ripple {
  display: none !important;
}

.mat-step-header {
  background-color: white !important;
  border-radius: 40px;
}

.mat-horizontal-stepper-header {
  padding: 0 10px !important;
}
.mat-step-header .mat-step-label {
  padding: 15px;

}


.selectedIndex0 ::ng-deep .mat-stepper-horizontal-line:nth-child(0) {
  background-color:  #3f51b5 !important;
}
.selectedIndex1 ::ng-deep .mat-stepper-horizontal-line:nth-child(2) {
  background-color:  #3f51b5 !important;
}
.selectedIndex2 ::ng-deep .mat-stepper-horizontal-line:nth-child(3*2) {
  background-color:  #3f51b5 !important;

}

.curser {
  cursor: pointer;;
}
.mat-horizontal-stepper-content {
background-color: white;
padding: inherit;
padding-top: 1px;
}
